[Unit]
Description = Podman Service %N

[Container]

AutoUpdate = registry
Image = ghcr.io/hoellen/nextcloud

Environment = DOMAIN=cloud.bonjour.zone

Environment = ADMIN_USER=bonjour
Environment = ADMIN_PASSWORD=----ADMIN_PASSWORD----

Environment = DB_TYPE=mysql
Environment = DB_HOST=bonjour-bj-internal.mysql.rds.aliyuncs.com
Environment = DB_NAME=cloud
Environment = DB_USER=cloud
Environment = DB_PASSWORD=----DATABASE_PASSWORD----

PublishPort = 30400:8888

SecurityLabelDisable = true
Volume = ./themes:/nextcloud/themes
Volume = cloud-data.volume:/data
Volume = cloud-config.volume:/nextcloud/config
Volume = cloud-apps.volume:/nextcloud/apps2

[Service]
Restart = on-failure

[Install]
WantedBy = default.target
