[Unit]
Description = Podman Container %N

[Container]

AutoUpdate = registry
Image = public.ecr.aws/docker/library/nextcloud

Environment = NEXTCLOUD_ADMIN_USER=bonjour
Environment = NEXTCLOUD_ADMIN_PASSWORD=----ADMIN_PASSWORD----

Environment = MYSQL_HOST=bonjour-bj-internal.mysql.rds.aliyuncs.com
Environment = MYSQL_DATABASE=cloud
Environment = MYSQL_USER=cloud
Environment = MYSQL_PASSWORD=----DATABASE_PASSWORD----

Environment = NEXTCLOUD_DATA_DIR=/data
Environment = NEXTCLOUD_TRUSTED_DOMAINS=bonjour.zone

Environment = MAIL_DOMAIN=bonjour.zone
Environment = MAIL_FROM_ADDRESS=cloud
Environment = SMTP_HOST=smtp.qiye.aliyun.com
Environment = SMTP_SECURE=ssl
Environment = SMTP_NAME=bot@bonjour.zone
Environment = SMTP_PASSWORD=----SMTP_PASSWORD----

Environment = OVERWRITEHOST=cloud.bonjour.zone
Environment = OVERWRITEPROTOCOL=https
Environment = OVERWRITECLIURL=https://cloud.bonjour.zone
Environment = OVERWRITEWEBROOT=/

PublishPort = 30400:9000

Volume = cloud.volume:/var/www/html

[Service]
Restart = on-failure

[Install]
WantedBy = default.target